RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

######################################### FOR DEVELOPER #####################################
### FOR UPLOAD PHOTO ###
RewriteRule ^upload/photo$ core/upload-photo.php [L]

### ACCOUNT CHANGE PASS ### 
RewriteRule ^account/system/update-password$ controllers/developer/account/system/account-change-password.php [L] 
RewriteRule ^account/other/update-password$ controllers/developer/account/other/account-change-password.php [L] 

# ROLES # 
RewriteRule ^roles$ controllers/developer/settings/user/role/role.php [L]
RewriteRule ^roles/([0-9]+)$ controllers/developer/settings/user/role/role.php?roleid=$1 [L]
RewriteRule ^roles/active/([0-9]+)$ controllers/developer/settings/user/role/active.php?roleid=$1 [L]

### SYSTEM USER ###
RewriteRule ^user-system$ controllers/developer/settings/user/system/system.php [L]
RewriteRule ^user-system/([0-9]+)$ controllers/developer/settings/user/system/system.php?usersystemid=$1 [L]
RewriteRule ^user-system/active/([0-9]+)$ controllers/developer/settings/user/system/active.php?usersystemid=$1 [L]
RewriteRule ^user-system/search$ controllers/developer/settings/user/system/search.php [L]
RewriteRule ^user-system/key/([A-Za-z0-9-]+)$ controllers/developer/settings/user/system/key.php?usersystemkey=$1 [L]
RewriteRule ^user-system/page/([0-9]+)$ controllers/developer/settings/user/system/page.php?start=$1 [L]
RewriteRule ^user-system/password$ controllers/developer/settings/user/system/set-password.php [L]
RewriteRule ^user-system/login$ controllers/developer/settings/user/system/login.php [L]
RewriteRule ^user-system/token$ controllers/developer/settings/user/system/token.php [L]
RewriteRule ^user-system/reset$ controllers/developer/settings/user/system/reset-password.php [L]
RewriteRule ^user-system/verify-email/([A-Za-z0-9-]+)$ controllers/developer/settings/user/system/update-email.php?usersystemkey=$1 [L]

### USER OTHER GENERIC
RewriteRule ^user-other/login$ controllers/developer/settings/user/other/generic/login.php [L]
RewriteRule ^user-other/token$ controllers/developer/settings/user/other/generic/token.php [L]
RewriteRule ^user-other/key/([A-Za-z0-9-]+)$ controllers/developer/settings/user/other/generic/key.php?userotherkey=$1 [L]
RewriteRule ^user-other/password$ controllers/developer/settings/user/other/generic/set-password.php [L]
RewriteRule ^user-other/reset$ controllers/developer/settings/user/other/generic/reset-password.php [L]
RewriteRule ^user-other/verify-email/([A-Za-z0-9-]+)$ controllers/developer/settings/user/other/generic/update-email.php?userotherkey=$1 [L]

### OTHER USER MAIN ###
RewriteRule ^user-main$ controllers/developer/settings/user/other/main/user-main.php [L]
RewriteRule ^user-main/([0-9]+)$ controllers/developer/settings/user/other/main/user-main.php?userotherid=$1 [L]
RewriteRule ^user-main/active/([0-9]+)$ controllers/developer/settings/user/other/main/active.php?userotherid=$1 [L]
RewriteRule ^user-main/page/([0-9]+)$ controllers/developer/settings/user/other/main/page.php?start=$1 [L]
RewriteRule ^user-main/search$ controllers/developer/settings/user/other/main/search.php [L]

### OTHER USER CLIENT ###
RewriteRule ^user-client$ controllers/developer/settings/user/other/client/user-client.php [L]
RewriteRule ^user-client/([0-9]+)$ controllers/developer/settings/user/other/client/user-client.php?userotherid=$1 [L]
RewriteRule ^user-client/active/([0-9]+)$ controllers/developer/settings/user/other/client/active.php?userotherid=$1 [L]
RewriteRule ^user-client/page/([0-9]+)$ controllers/developer/settings/user/other/client/page.php?start=$1 [L]
RewriteRule ^user-client/search$ controllers/developer/settings/user/other/client/search.php [L]

### ACCOUNT CHANGE PASS ### 
RewriteRule ^account/developer/update-password$ controllers/developer/account/system/account-change-password.php [L] 
RewriteRule ^account/admin/update-password$ controllers/admin/account/other/account-change-password.php [L] 

# MAINTENANCE # 
RewriteRule ^maintenance$ controllers/developer/maintenance/maintenance.php [L]
RewriteRule ^maintenance/([0-9]+)$ controllers/developer/maintenance/maintenance.php?maintenanceid=$1 [L]

### CAR MAKE ###
RewriteRule ^car-make$ controllers/developer/settings/car-make/car-make.php [L]
RewriteRule ^car-make/([0-9]+)$ controllers/developer/settings/car-make/car-make.php?carmakeid=$1 [L]
RewriteRule ^car-make/active/([0-9]+)$ controllers/developer/settings/car-make/active.php?carmakeid=$1 [L]
RewriteRule ^car-make/page/([0-9]+)$ controllers/developer/settings/car-make/page.php?start=$1 [L]
RewriteRule ^car-make/search$ controllers/developer/settings/car-make/search.php [L]

### EXPENSE ###
RewriteRule ^expenses$ controllers/developer/settings/expenses/expenses.php [L]
RewriteRule ^expenses/([0-9]+)$ controllers/developer/settings/expenses/expenses.php?expensesid=$1 [L]
RewriteRule ^expenses/active/([0-9]+)$ controllers/developer/settings/expenses/active.php?expensesid=$1 [L]
RewriteRule ^expenses/page/([0-9]+)$ controllers/developer/settings/expenses/page.php?start=$1 [L]
RewriteRule ^expenses/search$ controllers/developer/settings/expenses/search.php [L]

### REPRESENTATIVE ###
RewriteRule ^representatives$ controllers/developer/settings/representatives/representatives.php [L]
RewriteRule ^representatives/([0-9]+)$ controllers/developer/settings/representatives/representatives.php?representativesid=$1 [L]
RewriteRule ^representatives/active/([0-9]+)$ controllers/developer/settings/representatives/active.php?representativesid=$1 [L]
RewriteRule ^representatives/page/([0-9]+)$ controllers/developer/settings/representatives/page.php?start=$1 [L]
RewriteRule ^representatives/search$ controllers/developer/settings/representatives/search.php [L]

### INCOME CATEGORY ###
RewriteRule ^income-category$ controllers/developer/settings/income-category/income-category.php [L]
RewriteRule ^income-category/([0-9]+)$ controllers/developer/settings/income-category/income-category.php?incomecategoryid=$1 [L]
RewriteRule ^income-category/active/([0-9]+)$ controllers/developer/settings/income-category/active.php?incomecategoryid=$1 [L]
RewriteRule ^income-category/page/([0-9]+)$ controllers/developer/settings/income-category/page.php?start=$1 [L]
RewriteRule ^income-category/search$ controllers/developer/settings/income-category/search.php [L]

### INCOME ITEM ###
RewriteRule ^income-item$ controllers/developer/settings/income-item/income-item.php [L]
RewriteRule ^income-item/([0-9]+)$ controllers/developer/settings/income-item/income-item.php?incomeitemid=$1 [L]
RewriteRule ^income-item/active/([0-9]+)$ controllers/developer/settings/income-item/active.php?incomeitemid=$1 [L]
RewriteRule ^income-item/page/([0-9]+)$ controllers/developer/settings/income-item/page.php?start=$1 [L]
RewriteRule ^income-item/search$ controllers/developer/settings/income-item/search.php [L]

### INCOME ITEM ###
RewriteRule ^quick-link$ controllers/developer/settings/quick-link/quick-link.php [L]
RewriteRule ^quick-link/([0-9]+)$ controllers/developer/settings/quick-link/quick-link.php?quicklinkid=$1 [L]
RewriteRule ^quick-link/active/([0-9]+)$ controllers/developer/settings/quick-link/active.php?quicklinkid=$1 [L]



### CLIENT ###
RewriteRule ^client$ controllers/developer/client/client.php [L]
RewriteRule ^client/([0-9]+)$ controllers/developer/client/client.php?clientid=$1 [L]
RewriteRule ^client/active/([0-9]+)$ controllers/developer/client/active.php?clientid=$1 [L]
RewriteRule ^client/page/([0-9]+)$ controllers/developer/client/page.php?start=$1 [L]
RewriteRule ^client/search$ controllers/developer/client/search.php [L]
RewriteRule ^client/update-bank-details/([0-9]+)$ controllers/developer/client/update-bank-details.php?clientid=$1 [L]
RewriteRule ^client/search-active-client$ controllers/developer/client/search-active-client.php [L]
RewriteRule ^client/user-account-by-email$ controllers/developer/client/user-account-by-email.php [L]

### CLIENT CAR ###
RewriteRule ^client-car$ controllers/developer/client/car/car.php [L]
RewriteRule ^client-car/([0-9]+)$ controllers/developer/client/car/car.php?carid=$1 [L]
RewriteRule ^client-car/active/([0-9]+)$ controllers/developer/client/car/active.php?carid=$1 [L]
RewriteRule ^client-car/page/([0-9]+)/([0-9]+)$ controllers/developer/client/car/page.php?start=$1&clientid=$2 [L]
RewriteRule ^client-car/search$ controllers/developer/client/car/search.php [L]

### CLIENT CAR ###
RewriteRule ^records-files$ controllers/developer/client/records-files/records-files.php [L]
RewriteRule ^records-files/([0-9]+)$ controllers/developer/client/records-files/records-files.php?recordsfilesid=$1 [L]
RewriteRule ^records-files/active/([0-9]+)$ controllers/developer/client/records-files/active.php?recordsfilesid=$1 [L]
RewriteRule ^records-files/page/([0-9]+)/([0-9]+)$ controllers/developer/client/records-files/page.php?start=$1&clientid=$2 [L]
RewriteRule ^records-files/search$ controllers/developer/client/records-files/search.php [L]

### CAR ###
RewriteRule ^car/page/([0-9]+)$ controllers/developer/car/page.php?start=$1 [L]
RewriteRule ^car/search$ controllers/developer/car/search.php [L]


### TOTAL - PURCHASE DOCUMENTS ###
RewriteRule ^purchase-documents$ controllers/developer/settings/totals/purchase-documents/purchase-documents.php [L]
RewriteRule ^purchase-documents/([0-9]+)$ controllers/developer/settings/totals/purchase-documents/purchase-documents.php?purchasedocumentsid=$1 [L]
RewriteRule ^purchase-documents/active/([0-9]+)$ controllers/developer/settings/totals/purchase-documents/active.php?purchasedocumentsid=$1 [L]

RewriteRule ^purchase-financed$ controllers/developer/settings/totals/purchase-financed/purchase-financed.php [L]
RewriteRule ^purchase-financed/([0-9]+)$ controllers/developer/settings/totals/purchase-financed/purchase-financed.php?purchasefinancedid=$1 [L]
RewriteRule ^purchase-financed/active/([0-9]+)$ controllers/developer/settings/totals/purchase-financed/active.php?purchasefinancedid=$1 [L]


RewriteRule ^total-car-value$ controllers/developer/settings/totals/total-car-value/total-car-value.php [L]
RewriteRule ^total-car-value/([0-9]+)$ controllers/developer/settings/totals/total-car-value/total-car-value.php?totalcarvalueid=$1 [L]
RewriteRule ^total-car-value/active/([0-9]+)$ controllers/developer/settings/totals/total-car-value/active.php?totalcarvalueid=$1 [L]

RewriteRule ^total-car-rental-value$ controllers/developer/settings/totals/total-car-rental-value/total-car-rental-value.php [L]
RewriteRule ^total-car-rental-value/([0-9]+)$ controllers/developer/settings/totals/total-car-rental-value/total-car-rental-value.php?totalcarrentalvalueid=$1 [L]
RewriteRule ^total-car-rental-value/active/([0-9]+)$ controllers/developer/settings/totals/total-car-rental-value/active.php?totalcarrentalvalueid=$1 [L]

######################################### FOR CLIENT #####################################
RewriteRule ^client/read-by-email$ controllers/client/read-by-email.php [L]
RewriteRule ^client/car/page/([0-9]+)/(.*)$ controllers/client/car/page.php?start=$1&email=$2 [L]
RewriteRule ^client/car/read/(.*)$ controllers/client/car/read.php?email=$1 [L]
RewriteRule ^client/car/search$ controllers/client/car/search.php [L]


######################################### FOR CLIENT #####################################
RewriteRule ^client/read-by-email$ controllers/client/read-by-email.php [L]
RewriteRule ^client/records-files/page/([0-9]+)/(.*)$ controllers/client/records-files/page.php?start=$1&email=$2 [L]
RewriteRule ^client/records-files/search$ controllers/client/records-files/search.php [L]